In [1]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import GridSearchCV

from IPython.display import Markdown, display
import pandas as pd

In [3]:
ndtype=[np.dtype('S7'), np.dtype('S15'), float, float, float, float]
# names = ['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3', 'target']

train = np.genfromtxt('./input/train.csv', delimiter=',', skip_header=0, dtype=ndtype, names=True)
test =  np.genfromtxt('./input/test.csv', delimiter=',', skip_header=0, dtype=ndtype[:5], names=True)

X = np.genfromtxt('./input/train.csv', delimiter=',', skip_header=0, names=True, usecols=[2,3,4])

print(train.shape)
print(type(train[0]))

# Can't figure out how to get the features out, it's an array of
# Tuples because the datatypes are not homogeneous. 
print(train['first_active_month'])
print(X.shape)
print(X[0])

(201917,)
<class 'numpy.void'>
[b'2017-06' b'2017-01' b'2016-08' ... b'2017-08' b'2016-07' b'2017-07']
(201917,)
(5., 2., 1.)

In [4]:
# Try using pandas and then convert to ndarray
train_df = pd.read_csv('./input/train.csv', sep=',')
test_df = pd.read_csv('./input/test.csv', sep=',')

In [5]:
display(train_df.head())
display(test_df.head())

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [27]:
# Remove non-feature data for training
X_df = train_df[['feature_1', 'feature_2', 'feature_3']]
y_df = train_df[['target']]
X_test_df = test_df

display(X_df.head())
display(y_df.head())

X = X_df.values
y = y_df.values.flatten()
X_test = X_test_df.values

print(X.shape)
print(y.shape)
print(X_test.shape)

   feature_1  feature_2  feature_3
0          5          2          1
1          4          1          0
2          2          2          0
3          4          3          0
4          1          3          0

     target
0 -0.820283
1  0.392913
2  0.688056
3  0.142495
4 -0.159749

(201917, 3)
(201917,)
(123623, 5)

In [28]:
# y = y.flatten()
# print(y.view())

print(y.dtypes)

clf = MultinomialNB()
clf.fit(X, y)

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'