# Team 3 - Merchant Category Recommendation
## Feature Engineering

### Team 3
- Vinicio De Sola
- Kevin Hanna
- Pri Nonis
- Bradley Nott


Here we add engineer new features and write the files out to:
    - input/engineered_train.pkl
    - input/engineered_test.pkl

In [1]:
import numpy               as np
import matplotlib.pyplot   as plt
import pandas              as pd
import seaborn             as sb

from datetime              import timedelta, datetime

from sklearn               import metrics
from sklearn.decomposition import PCA
from sklearn.cluster       import KMeans
from sklearn.mixture       import GaussianMixture
from sklearn.linear_model  import LinearRegression

from matplotlib.colors     import LogNorm

from IPython.display       import HTML, Markdown

from sklearn.metrics       import mean_squared_error

%matplotlib inline

np.random.seed(0)

import os
print(os.listdir("./input"))

['historical_transactions.csv', '.ipynb_checkpoints', 'new_merchant_transactions.csv', 'engineered_test.pkl', 'merchants.csv', 'sample_submission.csv', 'test.csv', 'Data_Dictionary.xlsx', 'features_importance_kfold.pkl', 'engineered_train.pkl', '.gitignore', 'train.csv']

## Read in all the data files

In [2]:
train        = pd.read_csv('input/train.csv', parse_dates=['first_active_month']).set_index('card_id')
test         = pd.read_csv('input/test.csv',  parse_dates=['first_active_month']).set_index('card_id')
# merchants    = pd.read_csv('input/merchants.csv').set_index('merchant_id')
transactions_old = pd.read_csv('input/historical_transactions.csv',   parse_dates = ['purchase_date'])
transactions_new = pd.read_csv('input/new_merchant_transactions.csv', parse_dates = ['purchase_date'])

## Data Clean Up

In [3]:
# Row is missing value for first_active_month
print(test.loc['C_ID_c27b4f80f7', :])
test.loc['C_ID_c27b4f80f7', 'first_active_month'] = test['first_active_month'].min()
print(test.loc['C_ID_c27b4f80f7', :])

first_active_month    NaT
feature_1               5
feature_2               2
feature_3               1
Name: C_ID_c27b4f80f7, dtype: object
first_active_month    2011-11-01 00:00:00
feature_1                               5
feature_2                               2
feature_3                               1
Name: C_ID_c27b4f80f7, dtype: object

# Model
## Baseline

Our baseline model uses the data provided in the "train" dataset.

In [4]:
def calculate_baseline():
    training = train[['feature_1', 'feature_2', 'feature_3']]
    labels = train[['target']]

    data_len = len(training)
    mask = np.random.rand(data_len) < 0.8

    train_data = training.values[mask]
    train_labels = labels.values.flatten()[mask]
    test_data = training.values[~mask]
    test_labels = labels.values.flatten()[~mask]

    X = train_data
    y = train_labels

    X_test = test_data
    y_test = test_labels

    reg = LinearRegression()
    reg.fit(X, y)

    y_pred_reg = reg.predict(X_test)
    mse = mean_squared_error(y_test, y_pred_reg)

    y_mean = train_labels.mean()
    y_test_mean = test_labels.mean()

    print("After fitting Linear Regression, the baseline Mean Squared Error is: {:0.3f}".format(mse))
    print("The mean of our training label is {:0.3f} and for testing {:0.3f}".format(y_mean, y_test_mean))
    
    return mse

baseline_mse = calculate_baseline()

After fitting Linear Regression, the baseline Mean Squared Error is: 14.269
The mean of our training label is -0.394 and for testing -0.393

# Feature Engineering

## Transform train first_active_month to numeric
The first_active_month is a date the shopper first made a purchase using Elo.  Converting this to days would make it more useful for modelling.

In [5]:
def first_active_month_to_numeric():
    global train, test
    latest_date = max(train['first_active_month'].max(), test['first_active_month'].max()) + timedelta(days=1)
    train['first_active_delta_days'] = ((latest_date - train['first_active_month']).dt.days)
    test['first_active_delta_days']  = ((latest_date - test['first_active_month']).dt.days)

first_active_month_to_numeric()

# we no longer need first active month
del train['first_active_month']

# display(train.head())
# display(test.head())

## Binarize 'Y' and 'N' category
Convert to binary so they can be aggregated later.

In [6]:
transactions_old['category_1'] = transactions_old.category_1.eq('Y').mul(1)
transactions_new['category_1'] = transactions_new.category_1.eq('Y').mul(1)

transactions_old['authorized_flag'] = transactions_old.authorized_flag.eq('Y').mul(1)
transactions_new['authorized_flag'] = transactions_new.authorized_flag.eq('Y').mul(1)

# merchants['category_1'] = merchants.category_1.eq('Y').mul(1)
# merchants['category_4'] = merchants.category_4.eq('Y').mul(1)

## Create some dummy variables

In [7]:
train = pd.get_dummies(train, columns=['feature_1', 'feature_2'])
test = pd.get_dummies(test, columns=['feature_1', 'feature_2'])
transactions_old = pd.get_dummies(transactions_old, columns=['category_2', 'category_3'])
transactions_new = pd.get_dummies(transactions_new, columns=['category_2', 'category_3'])
# merchants = pd.get_dummies(merchants, columns=['category_2', 'most_recent_sales_range', 'most_recent_purchases_range'])

# display(train.head())
# display(test.head())
# display(transactions_old.head())
# display(transactions_new.head())

## Convert dates to numeric

In [8]:
latest_transaction = transactions_old['purchase_date'].max()

transactions_old['month_diff'] = ((latest_transaction - transactions_old['purchase_date']))//np.timedelta64(1, 'M')
transactions_old['month_diff'] += transactions_old['month_lag']

transactions_new['month_diff'] = ((latest_transaction - transactions_new['purchase_date']))//np.timedelta64(1, 'M')
transactions_new['month_diff'] += transactions_new['month_lag']

## Join Merchant Data with Transactions

In [9]:
# del merchants['merchant_group_id']
# del merchants['merchant_category_id']
# del merchants['subsector_id']

# # So we don't create duplicates from the transactions
# merchants = merchants.add_suffix('_merchants')

# transactions_old = transactions_old.merge(right=merchants, how='left', on=['merchant_id'])
# transactions_new = transactions_new.merge(right=merchants, how='left', on=['merchant_id'])

## Aggregate New and Old Transactions with Train on `card_id` 
see: https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [10]:
def aggregate_transaction_data():
    global train, test
   
    transactions_old.loc[:, 'purchase_date'] = pd.DatetimeIndex(transactions_old['purchase_date']).\
                                      astype(np.int64) * 1e-9
    transactions_new.loc[:, 'purchase_date'] = pd.DatetimeIndex(transactions_new['purchase_date']).\
                                      astype(np.int64) * 1e-9
    
    # These aggregations will be performed on both new and old
    aggregation = {
        'purchase_amount': ['sum', 'mean', 'min', 'max', 'std'],
        'subsector_id': ['nunique'],
        'merchant_category_id': ['nunique'],
        'merchant_id': ['nunique'],
        'installments': ['sum','mean'],
        'city_id': ['nunique'],
        'state_id': ['nunique'], 
        'category_1': ['sum'],
        'category_2_1.0': ['sum'],
        'category_2_2.0': ['sum'],
        'category_2_3.0': ['sum'],
        'category_2_4.0': ['sum'],
        'category_2_5.0': ['sum'],
        'category_3_A': ['sum'],
        'category_3_B': ['sum'],
        'category_3_C': ['sum'],
        'month_lag': ['mean', 'min', 'max', 'std'],
        'authorized_flag': ['sum'],
        'month_diff': ['mean', 'min', 'max', 'std'],
        'purchase_date': [np.ptp, 'min', 'max'],
        
#         # Merchants
#         'numerical_1_merchants': ['sum', 'mean'],
#         'numerical_2_merchants': ['sum', 'mean'],
#         'category_1_merchants': ['sum'],
#         'category_4_merchants': ['sum'],
#         'avg_sales_lag3_merchants': ['mean'],
#         'avg_purchases_lag3_merchants': ['mean'],
#         'active_months_lag3_merchants': ['mean'],
#         'avg_sales_lag6_merchants': ['mean'],
#         'avg_purchases_lag6_merchants': ['mean'],
#         'active_months_lag6_merchants': ['mean'],
#         'avg_sales_lag12_merchants': ['mean'],
#         'avg_purchases_lag12_merchants': ['mean'],
#         'active_months_lag12_merchants': ['mean'],
#         'category_2_1.0_merchants': ['sum'],
#         'category_2_2.0_merchants': ['sum'],
#         'category_2_3.0_merchants': ['sum'],
#         'category_2_4.0_merchants': ['sum'],
#         'category_2_5.0_merchants': ['sum'],
#         'most_recent_sales_range_A_merchants': ['sum'],
#         'most_recent_sales_range_B_merchants': ['sum'],
#         'most_recent_sales_range_C_merchants': ['sum'],
#         'most_recent_sales_range_D_merchants': ['sum'],
#         'most_recent_sales_range_E_merchants': ['sum'],
#         'most_recent_purchases_range_A_merchants': ['sum'],
#         'most_recent_purchases_range_B_merchants': ['sum'],
#         'most_recent_purchases_range_C_merchants': ['sum'],
#         'most_recent_purchases_range_D_merchants': ['sum'],
#         'most_recent_purchases_range_E_merchants': ['sum']
    }

    
    # Do aggregations on aggregated_old and join with training and test data
    aggregated_old = transactions_old.groupby(['card_id']).agg(aggregation)
    aggregated_old.columns = ['old_' + '_'.join(col).strip() for col in aggregated_old.columns.values]
    train = train.merge(right=aggregated_old, how='left', on='card_id')
    test = test.merge(right=aggregated_old, how='left', on='card_id')

    # Do aggregations on aggregated_new and join with training and test data
    aggregated_new = transactions_new.groupby(['card_id']).agg(aggregation)
    aggregated_new.columns = ['new_' + '_'.join(col).strip() for col in aggregated_new.columns.values]
    train = train.merge(right=aggregated_new, how='left', on='card_id')
    test = test.merge(right=aggregated_new, how='left', on='card_id')
    
    
aggregate_transaction_data()

# display(train.head())
# display(test.head())

In [11]:
authorized_transactions = transactions_old[transactions_old['authorized_flag'] == 1]

display(train.head())

,feature_3,target,first_active_delta_days,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_1,feature_2_2,...,new_month_lag_max,new_month_lag_std,new_authorized_flag_sum,new_month_diff_mean,new_month_diff_min,new_month_diff_max,new_month_diff_std,new_purchase_date_ptp,new_purchase_date_min,new_purchase_date_max
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_92a2005557,1,-0.820283,246,0,0,0,0,1,0,1,...,2.0,0.510754,23.0,-0.043478,-1.0,0.0,0.208514,4742309.0,1.520259e+09,1.525001e+09
C_ID_3d0044924f,0,0.392913,397,0,0,0,1,0,1,0,...,2.0,0.547723,6.0,1.000000,1.0,1.0,0.000000,4887632.0,1.517505e+09,1.522393e+09
C_ID_d639edf6cd,0,0.688056,550,0,1,0,0,0,0,1,...,2.0,NaN,1.0,0.000000,0.0,0.0,NaN,0.0,1.524937e+09,1.524937e+09
C_ID_186d6a6901,0,0.142495,154,0,0,0,1,0,0,0,...,2.0,0.487950,7.0,0.000000,0.0,0.0,0.000000,3625505.0,1.520424e+09,1.524049e+09
C_ID_cdbd2c0db2,0,-0.159749,93,1,0,0,0,0,0,0,...,2.0,0.503953,36.0,-0.055556,-1.0,0.0,0.232311,4949682.0,1.519992e+09,1.524941e+09

In [12]:
def aggregate_approved_data():
    global train, test, authorized_transactions
    # These aggregations will be performed on both new and old
    aggregation = {
        'purchase_amount': ['sum', 'mean', 'median', 'min', 'max', 'std'],
        'subsector_id': ['nunique'],
        'merchant_category_id': ['nunique'],
        'merchant_id': ['nunique'],
        'installments': ['sum', 'mean'],
        'category_1': ['sum'],
        'category_2_1.0': ['sum'],
        'category_2_2.0': ['sum'],
        'category_2_3.0': ['sum'],
        'category_2_4.0': ['sum'],
        'category_2_5.0': ['sum'],
        'category_3_A': ['sum'],
        'category_3_B': ['sum'],
        'category_3_C': ['sum'],
        'month_lag': ['mean', 'min', 'max', 'std'],
        'authorized_flag': ['sum'],
        'month_diff': ['mean', 'min', 'max', 'std'],
        'purchase_date': [np.ptp, 'min', 'max'],
    }

    # Do aggregations on only authorized aggregated_old and join with dataframe df
    aggregated_auth = authorized_transactions.groupby(['card_id']).agg(aggregation)
    aggregated_auth.columns = ['auth_' + '_'.join(col).strip() for col in aggregated_auth.columns.values]
    train = train.merge(right=aggregated_auth, how='left', on='card_id')
    test = test.merge(right=aggregated_auth, how='left', on='card_id')
    
aggregate_approved_data()

In [13]:
# del transactions_old
# del transactions_new

# Joining the transaction_new with train created some empty cells
# Fill them with zeros
train = train.fillna(0)
test = test.fillna(0)

## A view of our new training data dataframe

In [14]:
# Put the target at the begining
train = train[['target'] + [c for c in train if c not in ['target']]]

display(train.head())
display(test.head())

,target,feature_3,first_active_delta_days,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_1,feature_2_2,...,auth_month_lag_max,auth_month_lag_std,auth_authorized_flag_sum,auth_month_diff_mean,auth_month_diff_min,auth_month_diff_max,auth_month_diff_std,auth_purchase_date_ptp,auth_purchase_date_min,auth_purchase_date_max
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_92a2005557,-0.820283,1,246,0,0,0,0,1,0,1,...,0,2.429155,247,-0.048583,-1,0,0.215431,20977987.0,1.498573e+09,1.519551e+09
C_ID_3d0044924f,0.392913,0,397,0,0,0,1,0,1,0,...,0,3.836969,339,0.961652,0,1,0.192319,33717687.0,1.483720e+09,1.517438e+09
C_ID_d639edf6cd,0.688056,0,550,0,1,0,0,0,0,1,...,0,3.893083,41,-0.024390,-1,0,0.156174,35635623.0,1.484123e+09,1.519759e+09
C_ID_186d6a6901,0.142495,0,154,0,0,0,1,0,0,0,...,0,1.802065,77,-0.038961,-1,0,0.194771,13375339.0,1.506443e+09,1.519818e+09
C_ID_cdbd2c0db2,-0.159749,0,93,1,0,0,0,0,0,0,...,0,1.026680,128,-0.023438,-1,0,0.151883,9405641.0,1.510445e+09,1.519850e+09

,first_active_month,feature_3,first_active_delta_days,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_1,feature_2_2,...,auth_month_lag_max,auth_month_lag_std,auth_authorized_flag_sum,auth_month_diff_mean,auth_month_diff_min,auth_month_diff_max,auth_month_diff_std,auth_purchase_date_ptp,auth_purchase_date_min,auth_purchase_date_max
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_0ab67a22ab,2017-04-01,1,307,0,0,1,0,0,0,0,...,0,2.574370,44,1.977273,1,2,0.150756,23179380.0,1.491330e+09,1.514510e+09
C_ID_130fd0cbdd,2017-01-01,0,397,0,1,0,0,0,0,0,...,0,2.172971,77,-0.012987,-1,0,0.113961,34667913.0,1.484321e+09,1.518989e+09
C_ID_b709037bc5,2017-08-01,1,185,0,0,0,0,1,1,0,...,0,1.641476,9,0.000000,0,0,0.000000,13924886.0,1.503673e+09,1.517598e+09
C_ID_d27d835a9f,2017-12-01,0,63,0,1,0,0,0,1,0,...,0,0.951113,26,0.000000,0,0,0.000000,6734846.0,1.512392e+09,1.519127e+09
C_ID_2b5e3df5c2,2015-12-01,1,794,0,0,0,0,1,1,0,...,0,4.222494,87,0.000000,0,0,0.000000,36174127.0,1.483554e+09,1.519728e+09

## Write out the new File

In [15]:
# train.to_csv('./input/engineered_train.csv')
# test.to_csv('./input/engineered_test.csv')
train.to_pickle('./input/engineered_train.pkl')
test.to_pickle('./input/engineered_test.pkl')